@page "/maps/{MapName}"
@page "/map/{MapName}"

@using TempusHubBlazor.Data
@using TempusHubBlazor.Models.Tempus.Responses
@using TempusHubBlazor.Models.Tempus.DetailedMapList
@using TempusHubBlazor.Constants
@using TempusHubBlazor.Services
@using TempusHubBlazor.Utilities

@inject TempusCacheService TempusCacheService
@inject TempusDataService TempusDataService

<h1>@(ParsedMap?.Name ?? MapName)</h1>
<br />

@if (string.IsNullOrWhiteSpace(MapName) || ParsedMap == null || FullMapOverView == null)
{
    <p>Map not found...</p>
}
else
{
    <p><img src="@LocalFileConstants.SoldierIcon"> T@(ParsedMap.TierInfo.Soldier)  <img src="@LocalFileConstants.DemomanIcon"> T@(ParsedMap.TierInfo.Demoman)</p>
    <p><img src="@LocalFileConstants.SoldierIcon"> @(TempusUtilities.GetYoutubeUrl(ParsedMap.Videos.Soldier) ?? "No showcase")  <img src="@LocalFileConstants.DemomanIcon"> @(TempusUtilities.GetYoutubeUrl(ParsedMap.Videos.Demoman) ?? "No showcase")</p>
    <br />
}

@if (FullMapOverView == null)
{
    <p>Loading map runs data...</p>
}
else
{
    <table class="table">
        <colgroup>
            <col width="8*" />
            <col width="8*" />
        </colgroup>
        <thead>
            <tr>
                <th colspan="2">Soldier</th>
            </tr>
        </thead>
        <tbody>
            @for (var i = 0; i < FullMapOverView.SoldierRuns.Count; i++)
            {
                <tr>
                    <td>#@(i + 1): @TempusUtilities.FormattedDuration(FullMapOverView.SoldierRuns[i].Duration)</td>
                    <td>@FullMapOverView.SoldierRuns[i].Name</td>
                </tr>
            }
        </tbody>
    </table>
    <table class="table">
        <colgroup>
            <col width="8*" />
            <col width="8*" />
        </colgroup>
        <thead>
            <tr>
                <th colspan="2">Demoman</th>
            </tr>
        </thead>
        <tbody>
            @for (var i = 0; i < FullMapOverView.DemomanRuns.Count; i++)
            {
                <tr>
                    <td>#@(i + 1): @TempusUtilities.FormattedDuration(FullMapOverView.DemomanRuns[i].Duration)</td>
                    <td>@FullMapOverView.DemomanRuns[i].Name</td>
                </tr>
            }
        </tbody>
    </table>
}

@code{
    [Parameter]
    public string MapName { get; set; }
    
    public DetailedMapOverviewModel ParsedMap { get; set; }
    public MapFullOverviewModel FullMapOverView { get; set; }

    protected override void OnInitialized()
    {
        ParsedMap = MapFromPartialName(MapName);
        FullMapOverView = TempusDataService.GetFullMapOverViewAsync(MapName).GetAwaiter().GetResult();
    }

    DetailedMapOverviewModel MapFromPartialName(string partialName)
    {
        var parsedMapName = TempusDataService.ParseMapName(partialName);
        return TempusCacheService.DetailedMapList.FirstOrDefault(x => x.Name == parsedMapName);
    }
}