@page "/maps"
@using TempusHubBlazor.Models.Tempus.DetailedMapList
@using TempusHubBlazor.Constants
@using TempusHubBlazor.Services

@inject TempusCacheService TempusCacheService
<div class="heading-wrapper">
    <h1 class="slim-center">Tempus Map List</h1>
</div>
<br />

@if (_mapList == null || _mapList.Count() == 0)
{
    <p><em>Getting map list data...</em></p>
}
else
{
<div class="slim-center">
    <table align="center" class="table table-dark table-bordered slim-center multi-table">
        <thead>
            <tr>
                <th>Demoman Maps</th>
                <th><img width="24" height="24" src="@LocalFileConstants.SoldierIcon" /></th>
                <th><img width="24" height="24" src="@LocalFileConstants.DemomanIcon" /></th>
            </tr>
        </thead>
        <tbody>
            <!--Demo maps, includes maps that are for both classes-->
            @foreach (var map in _mapList.Where(x => x.IntendedClass != 'S'))
            {
                <tr>
                    <td><a href="maps/@map.Name">@map.Name</a></td>
                    <td>T@(map.TierInfo.Soldier)</td>
                    <td>T@(map.TierInfo.Demoman)</td>
                </tr>
            }
        </tbody>
    </table>

    <table class="table table-dark table-bordered slim-center multi-table">
        <thead>
            <tr>
                <th>Soldier Maps</th>
                <th><img width="24" height="24" src="@LocalFileConstants.SoldierIcon" /></th>
                <th><img width="24" height="24" src="@LocalFileConstants.DemomanIcon" /></th>
            </tr>
        </thead>
        <tbody>
            <!--Soldier maps, includes maps that are for both classes-->
            @foreach (var map in _mapList.Where(x => x.IntendedClass != 'D'))
            {
                <tr>
                    <td><a href="maps/@map.Name">@map.Name</a></td>
                    <td>T@(map.TierInfo.Soldier)</td>
                    <td>T@(map.TierInfo.Demoman)</td>
                </tr>
            }
        </tbody>
    </table>
</div>
}

@code{
    List<DetailedMapOverviewModel> _mapList;
    protected override void OnInitialized()
    {
        _mapList = TempusCacheService.DetailedMapList;
    }

}
