@page "/recentrecords"
@page "/recentrecords/{RecentRecordType}"

@using TempusHubBlazor.Data
@using TempusHubBlazor.Models.Tempus.Activity
@using TempusHubBlazor.Models.Tempus.Responses
@using TempusHubBlazor.Utilities
@using TempusHubBlazor.Models
@using TempusHubBlazor.Services
@using BlazorStrap
@using Constants

@inject TempusDataService TempusDataService
@inject TempusCacheService TempusCacheService

<h1 class="slim-center">Recent Records</h1><BSDropdown DropdownDirection="DropdownDirection.Left" Class="bsDropDown">
    <BSDropdownToggle Color="Color.Primary">@RecentRecordType.ToStandardCasing()</BSDropdownToggle>
    <BSDropdownMenu>
        <BSDropdownItem Href="/recentrecords/map" OnClick=@(() => { RecentRecordType = "Map"; LoadData(); })>Map WR</BSDropdownItem>
        <BSDropdownItem Href="/recentrecords/course" OnClick=@(() => { RecentRecordType = "Course"; LoadData(); })>Course WR</BSDropdownItem>
        <BSDropdownItem Href="/recentrecords/bonus" OnClick=@(() => { RecentRecordType = "Bonus"; LoadData(); })>Bonus WR</BSDropdownItem>
        <BSDropdownItem Href="/recentrecords/map_top" OnClick=@(() => { RecentRecordType = "Map_Top"; LoadData(); })>Map Top</BSDropdownItem>
    </BSDropdownMenu>
</BSDropdown>

<br />

@if (RecordsWithZonedData == null || RecordsWithZonedData.Count == 0)
{
    <p><em>Getting activity data...</em></p>
}
else
{
    <table align="center" class="table table-dark table-bordered slim-center">
        <colgroup>
            <col width="1*" />
            <col width="16*" />
            <col width="8*" />
            <col width="8*" />
            <col width="8*" />
        </colgroup>
        <thead>
            <tr>
                <th>Class</th>
                <th>Map</th>
                <th>Player</th>
                <th>Time</th>
                <th>Date</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var record in RecordsWithZonedData)
            {
                <tr>
                    <td><img width="24" height="24" src="@(record.Record.RecordInfo.Class == 4 ? LocalFileConstants.DemomanIcon : LocalFileConstants.SoldierIcon)" /></td>
                    <td><a href="@HrefHelper.GetMapInfoPath(record.Record.MapInfo.Name)">@(record.Record.MapInfo.Name + " " + (record.Record.ZoneInfo.Type == "map" ? "" : record.Record.ZoneInfo.Type == "course" ? "C" + record.Record.ZoneInfo.Zoneindex + " " : "B" + record.Record.ZoneInfo.Zoneindex))</a></td>
                    <td><a href="@HrefHelper.GetPlayerInfoPath(record.Record.PlayerInfo.Id.ToString())">@record.Record.PlayerInfo.Name</a></td>
                    <td>
                        @(TempusUtilities.FormattedDuration(record.Record.RecordInfo.Duration))
                        @if (record.Record is MapTop mapTopRecord)
                        {
                            @("(#" + mapTopRecord.Rank + " WR +" + ((record.Record.CachedTime != null && record.Record.CachedTime.CurrentWRDuration.HasValue) ? TempusUtilities.FormattedDuration(record.Record.CachedTime.CurrentWRDuration.Value - record.Record.RecordInfo.Duration) : "N/A"));
                        }
                        else
                        {
                            @("("+TempusUtilities.GetWRSplitString(record.Record.CachedTime, record.ZonedData))
                        })
                    </td>
                    <td>@TempusUtilities.GetDateFromSeconds(record.Record.RecordInfo.Date).GetTimeStringSinceDateTime()</td>
                </tr>
            }
        </tbody>
    </table>
}

@code {
    [Parameter]
    public string RecentRecordType { get; set; }

    List<RecordWithZonedData> RecordsWithZonedData = new List<RecordWithZonedData>();

    protected override void OnInitialized()
    {
        LoadData(forceUpdateState: false);

    }

    void LoadData()
    {
        LoadData(forceUpdateState: true);
    }

    void LoadData(bool forceUpdateState)
    {
        List<RecordWithZonedData> recordsWithZonedDataTemp = new List<RecordWithZonedData>();
        if (string.IsNullOrWhiteSpace(RecentRecordType))
        {
            RecentRecordType = "Map";
        }
        var allActivity = TempusCacheService.RecentActivity;


        switch (RecentRecordType.ToLower())
        {
            case "map":
                recordsWithZonedDataTemp = TempusCacheService.RecentActivityWithZonedData.MapWR;
                break;
            case "course":
                recordsWithZonedDataTemp = TempusCacheService.RecentActivityWithZonedData.CourseWR;
                break;
            case "bonus":
                recordsWithZonedDataTemp = TempusCacheService.RecentActivityWithZonedData.BonusWR;
                break;
            case "map_top":
                recordsWithZonedDataTemp = TempusCacheService.RecentActivityWithZonedData.MapTT;
                break;
            default:
                throw new Exception("No activity data for that type.");
        }

        RecordsWithZonedData = recordsWithZonedDataTemp.OrderByDescending(x => x.Record.RecordInfo.Date).ToList();

        if (forceUpdateState)
        {
            base.StateHasChanged();
        }
    }
}
