@page "/recentrecords"

@using TempusHubBlazor.Data
@using TempusHubBlazor.Models.Tempus.Activity
@using TempusHubBlazor.Models.Tempus.Responses
@using TempusHubBlazor.Utilities
@using TempusHubBlazor.Models
@inject TempusDataService TempusDataService

<h1>Recent Records</h1>

@if (recordsWithZonedData == null || recordsWithZonedData.Count == 0)
{
    <p><em>Getting activity data...</em></p>
}
else
{
    <table class="table">
        <colgroup>
            <col width="1*"/>
            <col width="4*"/>
            <col width="2*"/>
            <col width="2*"/>
        </colgroup>
        <thead>
            <tr>
                <th>Class</th>
                <th>Map</th>
                <th>Player</th>
                <th>Time</th>
                <th>Date</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var record in recordsWithZonedData)
            {
                <tr>
                    <td>@TempusUtilities.GetClass(record.Record.RecordInfo.Class)</td>
                    <td>@record.Record.MapInfo.Name</td>
                    <td>@record.Record.PlayerInfo.Name</td>
                    <td>@TempusUtilities.FormattedDuration(record.Record.RecordInfo.Duration) (@TempusUtilities.GetWRSplitString(record.Record.CachedTime, record.ZonedData))</td>
                    <td>@TempusUtilities.GetDateFromSeconds(record.Record.RecordInfo.Date)</td>
                </tr>
            }
        </tbody>
    </table>
}

@code {
    List<RecordWithZonedData> recordsWithZonedData = new List<RecordWithZonedData>();

    protected override async Task OnInitializedAsync()
    {
        var records = (await TempusDataService.GetRecentActivityAsync()).MapRecords.ToArray();

        Parallel.ForEach(records, async (record) => 
        {
            recordsWithZonedData.Add(await TempusDataService.PopulateRecordDataAsync(record));
        });
    }
}
