@page "/servers/{ServerParam}"
@page "/server/{ServerParam}"

@using TempusHubBlazor.Data
@using TempusHubBlazor.Models
@using TempusHubBlazor.Models.Tempus.Responses
@using TempusHubBlazor.Services
@using TempusHubBlazor.Utilities
@using TempusHubBlazor.Constants

@inject TempusDataService TempusDataService
@inject TempusCacheService TempusCacheService

<div class="heading-wrapper">
    <h1 class="slim-center">@(ServerInfo?.ServerInfo.Name ?? "No Server found")</h1>

    <br />

    <br />


</div>

<span class="slim-center">
    <p><a href="@HrefHelper.GetMapInfoPath(ServerInfo.GameInfo.CurrentMap)">@ServerInfo.GameInfo.CurrentMap</a> (@(ServerInfo.GameInfo.PlayerCount)/@ServerInfo.GameInfo.MaxPlayers)</p>
</span>
<h4 class="slim-center">Players</h4>
<table align="center" class="table table-dark table-bordered slim-center">
    <thead>
        <tr>
            <th>Rank</th>
            <th>Player</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var user in RankedPlayers)
        {
            <tr>
                @if (user.Rank.HasValue)
                {
                    <td><img width="24" height="24" src="@(user.Class == 4 ? LocalFileConstants.DemomanIcon : LocalFileConstants.SoldierIcon)"/> @(user.Rank.Value.ToString())</td>
                }
                else
                {
                    <td>Unranked</td>
                }
                <td><a href="@HrefHelper.GetPlayerInfoPath(user.Player.Id ?? 0)">@(TempusCacheService.GetRealName(user.Player.Id ?? 0) ?? user.Player.Name)</a></td>
            </tr>
        }
    </tbody>
</table>
<br />
@if (Demos == null)
{
    <div class="slim-center"><i>Loading demos...</i></div>
}
else { 
    <h4 class="slim-center">Demos</h4>
    <table align="center" class="table table-dark table-bordered slim-center">
        <thead>
            <tr>
                <th>Map</th>
                <th>Date</th>
            </tr>
        </thead>
        <tbody>
            @for (var i = 0; i < Demos.Count; i++)
            {
                <tr>
                    <td>@(Demos[i].Recording == true ? "Recording | " : "")<a href="@HrefHelper.GetDemoInfoPath(Demos[i].DemoId)">@Demos[i].MapName</a></td>
                    <td>@(TempusUtilities.GetDateFromSeconds(Demos[i].Date).GetTimeStringSinceDateTime())</td>
                </tr>
            }
        </tbody>
    </table>
}
@code {
    [Parameter]
    public string ServerParam { get; set; }
    public List<RankedServerPlayerModel> RankedPlayers { get; set; } = new List<RankedServerPlayerModel>();
    public ServerStatusModel ServerInfo { get; set; }
    public List<ServerDemoModel> Demos { get; set; }

    protected override async Task OnParametersSetAsync()
    {
        RankedPlayers = new List<RankedServerPlayerModel>();
        if (int.TryParse(ServerParam, out var serverId))
        {
            ServerInfo = TempusCacheService.ServerStatusList.FirstOrDefault(x => x.ServerInfo.Id == serverId);
        }
        else
        {
            ServerInfo = TempusCacheService.ServerStatusList.FirstOrDefault(x => x.ServerInfo.Shortname.ToLower() == ServerParam.ToLower());

            // Check if it wasn't the short name
            if (ServerInfo == null)
            {
                ServerInfo = TempusCacheService.ServerStatusList.FirstOrDefault(x => x.ServerInfo.Name.ToLower().Contains(ServerParam.ToLower()));
            }
        }

        if (ServerInfo?.GameInfo.Users != null && ServerInfo.GameInfo.Users.Count > 0)
        {
            foreach (var user in ServerInfo.GameInfo.Users)
            {
                var rankedUser = TempusCacheService.TopPlayersOnline.FirstOrDefault(x => x.Id == user.Id || x.SteamId == user.SteamId);
                RankedPlayers.Add(new RankedServerPlayerModel
                {
                    Player = user,
                    Rank = rankedUser?.Rank ?? (int?)int.MaxValue,
                    Class = rankedUser?.RankClass ?? 0
                });
            }
            RankedPlayers = RankedPlayers
                .OrderBy(x => x.Rank)
                .ToList();

            // Replace temporary rank for sorting back to null
            foreach (var rankedPlayer in RankedPlayers.Where(rankedPlayer => rankedPlayer.Rank.HasValue && rankedPlayer.Rank == int.MaxValue))
            {
                rankedPlayer.Rank = null;
            }
        }

        Demos = await TempusDataService.GetServerDemosAsync(ServerInfo.ServerInfo.Id);
    }
}
