@page "/topplayersonline"

@using Microsoft.VisualBasic.CompilerServices
@using TempusHubBlazor.Constants
@using TempusHubBlazor.Data
@using TempusHubBlazor.Models.Tempus.Activity
@using TempusHubBlazor.Models.Tempus.Responses
@using TempusHubBlazor.Utilities
@using TempusHubBlazor.Models
@using TempusHubBlazor.Services

@inject TempusDataService TempusDataService
@inject TempusCacheService TempusCacheService

<div class="heading-wrapper">
    <h1 class="slim-center">Top Players Online</h1>
</div>
<br />

@if (_topPlayerOnline == null || _topPlayerOnline.Count == 0)
{
    <p><em>Getting top player online data...</em></p>
}
else
{
    <table align="center" class="table table-dark table-bordered slim-center">
        <thead>
            <tr>
                <th>Rank</th>
                <th>Player</th>
                <th>Map</th>
                <th>Server</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var player in _topPlayerOnline)
            {
                <tr>
                    <td><img width="24" height="24" src="@(player.RankClass == 4 ? LocalFileConstants.DemomanIcon : LocalFileConstants.SoldierIcon)" /> @player.Rank</td>
                    <td><a href="@HrefHelper.GetPlayerInfoPath(player.Id)">@(TempusCacheService.GetRealName(player.Id) ?? player.Name)</a></td>
                    <td><a href="@HrefHelper.GetMapInfoPath(player.Server.GameInfo.CurrentMap)">@player.Server.GameInfo.CurrentMap</a></td>
                    <td><a href="@HrefHelper.GetServerInfoPath(player.Server.ServerInfo.Shortname)">@player.Server.ServerInfo.Shortname</a> | <a href="steam://connect/@player.Server.ServerInfo.Addr:@player.Server.ServerInfo.Port">Connect</a></td>
                </tr>
            }
        </tbody>
    </table>
}

@code {
    List<TopPlayerOnline> _topPlayerOnline = new List<TopPlayerOnline>();

    protected override void OnInitialized()
    {
        TempusCacheService.DataUpdated += OnDataUpdated;

        LoadData();
    }

    void LoadData()
    {
        _topPlayerOnline = TempusCacheService.TopPlayersOnline;
    }

    private void OnDataUpdated(object sender, EventArgs e)
    {
        LoadData();
        InvokeAsync(StateHasChanged);
    }
}
