@page "/topplayersonline"

@using TempusHubBlazor.Data
@using TempusHubBlazor.Models.Tempus.Activity
@using TempusHubBlazor.Models.Tempus.Responses
@using TempusHubBlazor.Utilities
@using TempusHubBlazor.Models
@using TempusHubBlazor.Services

@inject TempusDataService TempusDataService
@inject TempusCacheService TempusCacheService

<h1 align="center" class="slim-center">Top Players Online</h1>
<br />

@if (TopPlayerOnline == null || TopPlayerOnline.Count == 0)
{
    <p><em>Getting top player online data...</em></p>
}
else
{
    <table align="center" class="table table-dark table-bordered slim-center">
        <thead>
            <tr>
                <th>Rank</th>
                <th>Player</th>
                <th>Map</th>
                <th>Server</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var player in TopPlayerOnline)
            {
                <tr>
                    <td>@player.Rank</td>
                    <td><a href="@HrefHelper.GetPlayerInfoPath(player.Id.ToString())">@player.Name</a></td>
                    <td><a href="@HrefHelper.GetMapInfoPath(player.Server.GameInfo.CurrentMap)">@player.Server.GameInfo.CurrentMap</a></td>
                    <td><a href="@HrefHelper.GetServerInfoPath(player.Server.ServerInfo.Shortname)">@player.Server.ServerInfo.Shortname</a> | <a href="steam://connect/@player.Server.ServerInfo.Addr:@player.Server.ServerInfo.Port">Connect</a></td>
                </tr>
            }
        </tbody>
    </table>
}

@code {
    List<TopPlayerOnline> TopPlayerOnline = new List<TopPlayerOnline>();

    protected override void OnInitialized()
    {
        LoadData();
    }

    void LoadData()
    {
        TopPlayerOnline = TempusCacheService.TopPlayersOnline;
    }
}
